### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [164]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [165]:
# Player Count - display total number of players
# Assuming this means the actual number of players, not just the length of the dataset 

TotalPlayerCount = len(purchase_data_df['SN'].unique())
print(TotalPlayerCount)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
# Get number of unique items 
UniqueItems = purchase_data_df['Item Name'].nunique()

# Get average purchase price
AveragePurchasePrice = purchase_data_df['Price'].mean()

# Total Number of Purchases
NumberOfPurchases = purchase_data_df['Purchase ID'].count()

# Get Total Revenue 
TotalRevenue= purchase_data_df['Price'].sum()

# Generate DataFrame
PurchaseAnalysis_df = pd.DataFrame({
    'Unique Items':[UniqueItems],
    'Average Purchase Price':[AveragePurchasePrice],
    'Total Number of Purchases': [NumberOfPurchases],
    'Total Revenue': [TotalRevenue]
    })

#Format DataFrame
Formatted_df = pd.DataFrame(PurchaseAnalysis_df).style.format({
    'Average Purchase Price': '${:,.2f}'.format,
    'Total Revenue': '${:,.2f}'.format,
})

#Print DataFrame
Formatted_df


## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [167]:
# Create new DF grouped by Gender and get number of unique values 
gender_df = purchase_data_df[['SN']].groupby(purchase_data_df['Gender']).nunique()

# Create new column called Percentage and perform calculation 
gender_df['Percentage'] = gender_df['SN'] / TotalPlayerCount

# Format DF 
formatted_gender_df = pd.DataFrame(gender_df).style.format({
    'Percentage': "{:.0%}".format
})

# Print DF 
formatted_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
# male_purchasing_df = purchase_data_df[purchase_data_df['Gender'] == 'Male']
# female_purchasing_df = purchase_data_df[purchase_data_df['Gender'] == 'Female']
gender_groupby_df = purchase_data_df.groupby(purchase_data_df['Gender'])
series1 = gender_groupby_df['Purchase ID'].count()
series2 = gender_groupby_df['Price'].mean()
series3 = gender_groupby_df['Price'].sum()
series4 = gender_groupby_df['Price'].mean()
gender_purchasing_analysis_df = pd.concat([series1, series2, series3], axis=1)
gender_purchasing_analysis_df.columns = ['Total Purchase Count','Average Purchase','Total Purchase Amount']
gender_purchasing_analysis_df['Avg Purchase Total per Person'] = gender_purchasing_analysis_df['Total Purchase Amount'] / gender_df['SN']
gender_purchasing_analysis_df

,Total Purchase Count,Average Purchase,Total Purchase Amount,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [169]:
# describe() function run to determine min and max ages 
# group data into bins of 4 years 
bins = [6.9, 10.9, 14.9, 18.9, 22.9, 26.9, 30.9, 34.9, 38.9, 46]
group_names = ['7-11','11-15','15-19','19-23','23-27','27-31','31-35','35-39','39+']
purchase_data_df['Age Bracket'] = pd.cut(purchase_data_df['Age'], bins = bins, labels = group_names, include_lowest = True, right = True)

# create groupby table
age_df = purchase_data_df.groupby(['Age Bracket'])

# perform calculations and create series 
AgePurchaseCount = age_df['SN'].count()
AgeAvgPurchasePrice = age_df['Price'].mean()
AgeTotalPurchaseValue = age_df['Price'].sum()

# create new table based on series data 
age_demographic_df = pd.concat([AgePurchaseCount, AgeAvgPurchasePrice, AgeTotalPurchaseValue], axis=1)
age_demographic_df.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']

AgeUniquePurchases = age_df['SN'].nunique()
age_demographic_df['Average Purchase Total Per Person'] = age_demographic_df['Total Purchase Value'] / AgeUniquePurchases
age_demographic_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Bracket,,,,
7-11,32,3.405000,108.96,4.540000
11-15,19,2.681579,50.95,3.396667
15-19,113,3.034602,342.91,3.810111
19-23,254,3.038937,771.89,4.336461
23-27,207,3.063961,634.24,4.200265
27-31,63,2.876667,181.23,3.775625
31-35,38,2.728421,103.68,3.840000
35-39,35,3.552857,124.35,4.974000
39+,19,3.240000,61.56,3.420000

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [170]:
# Is this cell a repeat of the one above it? 
# Assuming not required

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [191]:
SN_groupby_df = purchase_data_df.groupby(['SN']).count().sort_values(by='Price', ascending = False)
SN_groupby_df

              Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Bracket
SN
Lisosia93               5    5       5        5          5      5            5
Iral74                  4    4       4        4          4      4            4
Idastidru52             4    4       4        4          4      4            4
Asur53                  3    3       3        3          3      3            3
Inguron55               3    3       3        3          3      3            3
...                   ...  ...     ...      ...        ...    ...          ...
Hala31                  1    1       1        1          1      1            1
Haisurra41              1    1       1        1          1      1            1
Hailaphos89             1    1       1        1          1      1            1
Haestyphos66            1    1       1        1          1      1            1
Iskosian40              1    1       1        1          1      1            1

[576 rows x 7 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame