### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [62]:
# Player Count - display total number of players
# Assuming this means the actual number of players, not just the length of the dataset 

TotalPlayerCount = len(purchase_data_df['SN'].unique())
print(f"Total Player Count is: {TotalPlayerCount}")

Total Player Count is: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
# Get number of unique items 
UniqueItems = purchase_data_df['Item Name'].nunique()

# Get average purchase price
AveragePurchasePrice = purchase_data_df['Price'].mean()

# Total Number of Purchases
NumberOfPurchases = purchase_data_df['Purchase ID'].count()

# Get Total Revenue 
TotalRevenue= purchase_data_df['Price'].sum()

# Generate DataFrame
PurchaseAnalysis_df = pd.DataFrame({
    'Unique Items':[UniqueItems],
    'Average Purchase Price':[AveragePurchasePrice],
    'Total Number of Purchases': [NumberOfPurchases],
    'Total Revenue': [TotalRevenue]
    })

#Format DataFrame
Formatted_df = pd.DataFrame(PurchaseAnalysis_df).style.format({
    'Average Purchase Price': '${:,.2f}'.format,
    'Total Revenue': '${:,.2f}'.format,
})

#Print DataFrame
Formatted_df


## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
# Create new DF grouped by Gender and get number of unique values 
gender_df = purchase_data_df[['SN']].groupby(purchase_data_df['Gender']).nunique()

# Create new column called Percentage and perform calculation 
gender_df['Percentage'] = gender_df['SN'] / TotalPlayerCount

# Format DF 
formatted_gender_df = pd.DataFrame(gender_df).style.format({
    'Percentage': "{:.0%}".format
})

# Print DF 
formatted_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
# Create GroupBy table sorted by Gender 
gender_groupby_df = purchase_data_df.groupby(purchase_data_df['Gender'])

# Create data series from GroupBy table
series1 = gender_groupby_df['Purchase ID'].count()
series2 = gender_groupby_df['Price'].mean()
series3 = gender_groupby_df['Price'].sum()
series4 = gender_groupby_df['Price'].mean()

# Concatenate Data Series into new table 
gender_purchasing_analysis_df = pd.concat([series1, series2, series3], axis=1)

# Rename Columns 
gender_purchasing_analysis_df.columns = ['Total Purchase Count','Average Purchase','Total Purchase Amount']

# Calculate Average Purchase Total Per Person 
gender_purchasing_analysis_df['Avg Purchase Total per Person'] = gender_purchasing_analysis_df['Total Purchase Amount'] / gender_df['SN']

# Format DataFrame 
gender_purchasing_analysis_formatted_df = pd.DataFrame(gender_purchasing_analysis_df).style.format({
    'Average Purchase': '${:,.2f}'.format,
    'Total Purchase Amount': '${:,.2f}'.format,
    'Avg Purchase Total per Person': '${:,.2f}'.format,
})

# Display DataFrame 
gender_purchasing_analysis_formatted_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [60]:
# describe() function run to determine min and max ages 
# group data into bins of 4 years 
bins = [6.9, 10.9, 14.9, 18.9, 22.9, 26.9, 30.9, 34.9, 38.9, 46]
group_names = ['7-11','11-15','15-19','19-23','23-27','27-31','31-35','35-39','39+']
purchase_data_df['Age Bracket'] = pd.cut(purchase_data_df['Age'], bins = bins, labels = group_names, include_lowest = True, right = True)

# create groupby table
age_df = purchase_data_df.groupby(['Age Bracket'])

# perform calculations and create series 
AgePurchaseCount = age_df['SN'].count()
AgeAvgPurchasePrice = age_df['Price'].mean()
AgeTotalPurchaseValue = age_df['Price'].sum()

# create new table based on series data 
age_demographic_df = pd.concat([AgePurchaseCount, AgeAvgPurchasePrice, AgeTotalPurchaseValue], axis=1)
age_demographic_df.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']

# Calculate Average Purchase Total Per Person 
AgeUniquePurchases = age_df['SN'].nunique()
age_demographic_df['Average Purchase Total Per Person'] = age_demographic_df['Total Purchase Value'] / AgeUniquePurchases

# Format Dataframe 
age_demographic_formatted_df = pd.DataFrame(age_demographic_df).style.format({
    'Average Purchase Price': '${:,.2f}'.format,
    'Total Purchase Value': '${:,.2f}'.format,
    'Average Purchase Total Per Person': '${:,.2f}'.format,
})
age_demographic_formatted_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Is this cell a repeat of the one above it? 
# Assuming not required

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
# Create GroupBy tables for sum count and mean 
SN_groupby_sum_df = purchase_data_df.groupby(['SN']).sum().sort_values(by='Price', ascending = False)
SN_groupby_count_df = purchase_data_df.groupby(['SN']).count().sort_values(by='Price', ascending = False)
SN_groupby_avg_df = purchase_data_df.groupby(['SN']).mean().sort_values(by='Price', ascending = False)

# Reduce rows to top 5 sorted by Total Purchase Value  
Top_Five_Spenders_df = SN_groupby_sum_df.nlargest(5,'Price')

# Reset Groupby Index
Top_Five_Spenders_df.reset_index()

# Clean Out unneeded columns 
del Top_Five_Spenders_df['Purchase ID']
del Top_Five_Spenders_df['Item ID']
del Top_Five_Spenders_df['Age']

# Rename Columns 
Top_Five_Spenders_df.rename(columns={"Price": "Total Purchase Price"})
Top_Five_Spenders_df.columns = ['Total Purchases']

# Clone and Join Dataframes 
Top_Five_Spenders_PurchaseCount_df = pd.DataFrame(SN_groupby_count_df['Purchase ID'])
Joined_DF = Top_Five_Spenders_df.join(Top_Five_Spenders_PurchaseCount_df)
Top_Five_Spenders_AveragePurchasePrice_s = SN_groupby_avg_df['Price']
Joined_DF2 = Joined_DF.join(Top_Five_Spenders_AveragePurchasePrice_s)

# Rename Columns 
Joined_DF2.columns = ['Total Purchase Value','Number of Purchases','Average Purchase Price']

# Format Table 
Formatted_Top_Spenders_df = pd.DataFrame(Joined_DF2).style.format({
    'Total Purchase Value': '${:,.2f}'.format,
    'Average Purchase Price': '${:,.2f}'.format,
})

# Display Table 
Formatted_Top_Spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
# Get Table and Group By Item Name 
popular_items_df = purchase_data_df[['Purchase ID','Item ID','Item Name','Price']]
popular_items_groupby_df = popular_items_df.groupby(['Item Name','Item ID'])

# Create Top 5 table by Purchase ID 
Popular_Items_TopFive_df = popular_items_groupby_df[['Purchase ID']].count().sort_values(by='Purchase ID', ascending = False)

# Add column for Total Purchase Value 
Popular_Items_TopFive_df['Total Purchase Value'] = popular_items_groupby_df[['Price']].sum()

# Add column for Item Value 
Popular_Items_TopFive_df['Item Value'] = Popular_Items_TopFive_df['Total Purchase Value'] / Popular_Items_TopFive_df['Purchase ID']

# Rename Columns 
Popular_Items_TopFive_df.columns = ["Total Number of Purchases", 'Total Purchase Value','Item Value']

# Cull DataFrame to Top 5 
Popular_Items_TopFive_df = Popular_Items_TopFive_df.nlargest(5,'Total Number of Purchases')

Popular_Items_TopFive_Formetted_df = pd.DataFrame(Popular_Items_TopFive_df).style.format({
    'Total Purchase Value': '${:,.2f}'.format,
    'Item Value': '${:,.2f}'.format,
})

# Display Dataframe 
Popular_Items_TopFive_Formetted_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [57]:
# Clone Above Dataframe
Profitalbe_Items_df = Popular_Items_TopFive_df

# Sort value Total Purchase Value and reverse order 
Profitable_Items_TopFive_Sorted_df = Profitalbe_Items_df.sort_values(by='Total Purchase Value', ascending = True)

# Format DF
Profitable_Items_TopFive_Formetted_df = pd.DataFrame(Profitable_Items_TopFive_Sorted_df).style.format({
    'Total Purchase Value': '${:,.2f}'.format,
    'Item Value': '${:,.2f}'.format,
})

# Display DataFrame
Profitable_Items_TopFive_Formetted_df