### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [129]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [130]:
# Player Count - display total number of players
# Assuming this means the actual number of players, not just the length of the dataset 

TotalPlayerCount = len(purchase_data_df['SN'].unique())
print(TotalPlayerCount)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
# Get number of unique items 
UniqueItems = purchase_data_df['Item Name'].nunique()

# Get average purchase price
AveragePurchasePrice = purchase_data_df['Price'].mean()

# Total Number of Purchases
NumberOfPurchases = purchase_data_df['Purchase ID'].count()

# Get Total Revenue 
TotalRevenue= purchase_data_df['Price'].sum()

# Generate DataFrame
PurchaseAnalysis_df = pd.DataFrame({
    'Unique Items':[UniqueItems],
    'Average Purchase Price':[AveragePurchasePrice],
    'Total Number of Purchases': [NumberOfPurchases],
    'Total Revenue': [TotalRevenue]
    })

#Format DataFrame
Formatted_df = pd.DataFrame(PurchaseAnalysis_df).style.format({
    'Average Purchase Price': '${:,.2f}'.format,
    'Total Revenue': '${:,.2f}'.format,
})

#Print DataFrame
Formatted_df


## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [135]:
# Create new DF grouped by Gender and get number of unique values 
gender_df = purchase_data_df[['SN']].groupby(purchase_data_df['Gender']).nunique()

# Create new column called Percentage and perform calculation 
gender_df['Percentage'] = gender_df['SN'] / TotalPlayerCount

# Format DF 
formatted_gender_df = pd.DataFrame(gender_df).style.format({
    'Percentage': "{:.0%}".format
})

# Print DF 
formatted_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
male_purchasing_df = purchase_data_df[['Gender','Age','Price']].groupby(['Gender'])

Gender
Female                   22
Male                     39
Other / Non-Disclosed     8
Name: Age, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame